DISCOVERY_TYPE=single-node
CLUSTER_NAME=my_opensearch_cluster
OPEN_SEARCH_HTTP_PORT=9200
SLL_HTTP_ENABLED=false
OPENSEARCH_ADMIN=admin
OPENSEARCH_PASSWORD=admin
OPENSEARCH_BASIC_TOKEN="Basic YourBasicToken"
OPENSEARCH_HOSTS=http://opensearch:9200
