**/.env
.env.openSearch
.env.cache
.env.database
openimis_env/*
data/*
openimis-dist_dkr.code-workspace
node_modules/
cypress/screenshots/
cypress/downloads/
cypress/videos/
cypress/fixtures/tmp_individuals.csv
cypress/fixtures/_generated/

.venv

.vscode

# Environment variables
.env
.env.local
.env.*.local
claimsense/backend/venv/
claimsense/frontend/node_modules/
claimsense/.env
