#version: "3.7"
x-lightning: &default-app
  image: ghcr.io/openimis/openimis-lightning_dkr:develop
  platform: linux/amd64
  #build:
    # dockerfile: Dockerfile-dev-
    # context: "https://github.com/openimis/openimis-lightning_dkr.git#delcroip-patch-1"
    # target: "${MIX_ENV:-dev}"
    # args:
    #   - "MIX_ENV=${MIX_ENV:-dev}"
    #   - "NODE_ENV=${NODE_ENV:-development}"

  depends_on:
    - "db"
  env_file:
    - ".env.lightning"

  restart: "${DOCKER_RESTART_POLICY:-unless-stopped}"
  stop_grace_period: "3s"
  volumes:
    - "${LIGHTNING_VOLUME:-./priv/static:/app/priv/static}"


services:
  web:
    <<: *default-app
    container_name: ${PROJECT_NAME}-lightning
    env_file:
      - .env
    healthcheck:
      test: "${DOCKER_WEB_HEALTHCHECK_TEST:-curl localhost:4000/health_check}"
      interval: "60s"
      timeout: "3s"
      start_period: "5s"
      retries: 3
    networks:
      openimis-net:
    ports:
      - "${LIGHTNING_EXTERNAL_PORT:-127.0.0.1:4000}:${URL_PORT}"

volumes:
  postgres: {}

